.idea
**/lt-rule-dump-out
**/lt-comparison-out
**/lt-master-csv
**/lt-style-out
*.egg-info/
*pycache__/
tags
rule-id-dump_env/
repos/
repos-latest/
repos-quarter-start/
added-rules/
rule-dump-latest/
